.navbar-profile-pic img{
    border-radius: 90px;
    height: 150px;
    width:150px ;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-item{
    color: white;
    margin-top: 30px;
    margin-left:25px ;
}

.nav-link{
    margin-top: 20px;
    cursor: pointer;
}

.nav-link svg{
    margin-right: 10px;
}

.nav-link:hover{
    color: #f29f67;
}

.side-nav{
    text-align: center;
}

.nav-link .active{
    color: #f29f67;
    border-left: 5px solid #f29f67;
    padding-left: 10px;
    text-decoration:none;
}

/* Responsive design */
@media (max-width: 600px) {
    .navbar-profile-pic img {
        height: 100px;
        width: 100px;
    }

    .nav-item {
        margin-left: 10px;
    }

    .nav-link {
        font-size: 14px;
    }

    .sidebar {
        width: 60px;
        /* Reduced width for smaller screens */
    }

    .sidebar-toggle {
        width: 150px;
        /* Adjusted width for toggle */
    }

    .container {
        margin-left: 60px;
        /* Adjusted margin for content section */
    }

    .side-nav .nav-link svg {
        margin-right: 0;
    }

    .side-nav .nav-link {
        font-size: 12px;
    }
}

/* Further adjustment for very small screens */
@media (max-width: 400px) {
    .sidebar {
        display: none;
        /* Hide sidebar on very small screens */
    }

    .container {
        margin-left: 0;
        /* No margin when sidebar is hidden */
    }
}